.containerSlider {
    position: relative;
    left: 160px;
    width: 1120px;
    height: 702px;
    background-color: #FFE0E2;
}

.positionActive {
    position: absolute;
    background-size: cover;
    background-position: center;
    width: 1120px;
    height: 702px;
    opacity: 1;
    transition: opacity 800ms ease;
}

.positionSlide {
    position: absolute;
    background-size: cover;
    background-position: center;
    width: 1120px;
    height: 702px;
    opacity: 0;
    transition: opacity 800ms ease;
}

.containerDots {
    position: relative;
    top: 700px;
    right: 160px;
    width: 1440px;
    height: 134px;

    display: flex;
    justify-content: center;
    column-gap: 10PX;
}

.dot {
    position: relative;
    top: 17PX;
    width: 12px;
    height: 12px;
    background-image: url(../../public/Dotgrey.svg);
    cursor: pointer;
}

.activeDote {
    position: relative;
    top: 17PX;
    width: 12px;
    height: 12px;
    background-image: url(../../public/Dotdarkgrey.svg);
    cursor: pointer;
}

.button {
    position: relative;
    top: 700px;
}