.btnLoadMore {
    margin: 66px 0px 60px 371px;
    background-color: white;
    width: 176px;
    height: 45px;
    border: 1px solid #4C3DB2;
    color:  #4C3DB2;
    text-transform: uppercase;
    cursor: pointer;
}